@page
@model MascotaFeliz.App.Presentacion.Pages.DetalleDuenoModel
@{
    ViewData["Title"] = "Detalle dueño";
}

<link rel="stylesheet" href="~/css/add-edit.css" />
<div class="container">
    <header class="header">
        <h1>Detalle dueño</h1>
    </header>
    <form method="post" action="" class="contenedor-main">

        <div>
            <label><strong>Id: </strong> @Model.dueno.Id</label>
        </div>
        <div>
            <label><strong>Nombres: </strong> @Model.dueno.Nombres</label>
        </div>
        <div>
            <label><strong>Apellidos: </strong> @Model.dueno.Apellidos</label>
        </div>

        <div>
            <label><strong>Dirección: </strong> @Model.dueno.Direccion</label>
        </div>

        <div>
            <label><strong>Teléfono: </strong> @Model.dueno.Telefono</label>
        </div>
        <div>
            <label><strong>Correo: </strong> @Model.dueno.Correo</label>
        </div>
        <br>
        <br>
        <div>

            <a class="btn-volver" asp-page="./Duenos"> Volver </a>
        </div>
    </form>
</div>
