@page
@model MascotaFeliz.App.Presentacion.Pages.MascotasModel
@{
    ViewData["Title"] = "Mascotas";
}

<link rel="stylesheet" href="~/css/lista.css" />
<script src="https://kit.fontawesome.com/05b4673db6.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="filtros">
        <div class="busca-id">
            <form>
                <label asp-for="BuscarId">Buscar por nombre:</label>
                <input type="text" asp-for="BuscarId" />
                <button type="submit" class="btn-filtro">Buscar</button>
            </form>
        </div>
    </div>
    @if(Model.listaMascotas.Count() > 0){
    <table summary="Mascotas">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Color</th>
                <th scope="col">Especie</th>
                <th scope="col">Raza</th>
                <th scope="col">Historia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mascota in Model.listaMascotas)
            {


                <tr class="filas-lista">
                    <th scope="row">@mascota.Id</th>
                    <td>@mascota.Nombre</td>
                    <td>@mascota.Color</td>
                    <td>@mascota.Especie</td>
                    <td>@mascota.Raza</td>
                    @if (mascota.Historia == null)
                    {
                        <td>No hay</td>
                    }
                    else
                    {
                        <td>@mascota.Historia.FechaInicial</td>
                    }

                    <td class="actions">
                        <button class="btn-detalle"><a class="a-detalle fa-solid fa-eye" asp-page="./DetalleMascota"
                            asp-route-mascotaId="@mascota.Id"></a></button>
                        <button class="btn-editar"><a class="a-edit fa-solid fa-pen-to-square" asp-page="./EditarMascota"
                            asp-route-mascotaId="@mascota.Id"></a></button>
                        @if (mascota.Historia == null)
                        {
                            <button class="btn-editar"><a class="a-edit fa-solid fa-file-contract" asp-page="./AddHistoria"
                            asp-route-mascotaId="@mascota.Id"></a></button>
                        }
                        else
                        {
                            <button class="btn-editar"><a class="a-edit fa-solid fa-file-contract" asp-page="./VisitasPyP"
                            asp-route-mascotaId="@mascota.Id" asp-route-historiaId="@mascota.Historia.Id"></a></button>


                        }

                        <form method="post"><button asp-page-handler="Borrar" asp-route-mascotaId="@mascota.Id"
                            class="btn-borrar"><i class="a-borrar fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }else{
        <p>No hay mascotas para mostrar</p>
    }
</div>
<div class="container-add-pet">
    <a class="btn-volver" asp-page="../Index"> Volver </a>
    <a class="btn-add" asp-page="./EditarMascota">+</a>
    <h2>Mascotas</h2>
</div>
